# Metabase
METABASE_URL=https://analytics.leapfinance.com
METABASE_EMAIL=xx@leapfinance.com
METABASE_PASSWORD=
METABASE_QUESTION_ID=33308
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
UPSTASH_REDIS_URL=rediss://default:gQAAAAAAAg6NAAIgcDE1NmMzYzMyNThkZDU0YmI2YWY4MDlmMWY4MzFmMmM0MQ@desired-gecko-134797.upstash.io:6379
