# Metabase
METABASE_URL=https://analytics.leapfinance.com
METABASE_EMAIL=pratyushmalviya08@leapfinance.com
METABASE_PASSWORD=your_password_here
METABASE_QUESTION_ID=33308

# Telegram
TELEGRAM_BOT_TOKEN=8954366609:AAG0BuMDyCCimHCB4h1o-vuNcky6LX2va6g
TELEGRAM_CHAT_ID=6216484964

# Upstash Redis
UPSTASH_REDIS_URL=rediss://default:gQAAAAAAAg6NAAIgcDE1NmMzYzMyNThkZDU0YmI2YWY4MDlmMWY4MzFmMmM0MQ@desired-gecko-134797.upstash.io:6379
